<h1>Reviews#new</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.text_field :content %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
